body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

button {
  background-color: #000;
  border: 1px solid crimson;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  box-shadow: 0 0 30px 0 crimson, 0 0 30px 0 crimson, 0 0 10px 0 crimson inset;
}
